<a href="https://colab.research.google.com/github/aquisxd/Application/blob/main/Ejercicio01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Ejercicio 1  carga de un archivo csb desde drive

In [ ]:
datos = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTn5Uk0QcLsioM-vISYa9K8ya9QkUjYfB5MB1pBo-kJ33Jvgway6YP6Z2OnznWTfJT_wXRX_72i2QsH/pub?gid=327364427&single=true&output=csv")
print(datos)

       nombre  edad    ciudad  ingresos
0        Juan    30      Lima      2500
1       María    28  Arequipa      3800
2        Luis    35     Cusco      4800
3         Ana    22  Trujillo      2000
4       Pedro    28  Arequipa      3200
5      Leonel    64   Juliaca      4980
6       Laura    31      Lima      4200
7      Carlos    25     Cusco      1800
8       Sofía    29  Trujillo      2900
9      Andrés    27      Lima      2600
10   Gabriela    33  Arequipa      4000
11    Micaela    21   Juliaca      5000
12      Diego    24     Cusco      3200
13  Valentina    26  Trujillo      3500
14     Lorena    30      Lima      3800
15     Javier    32  Arequipa      5000
16    Daniela    29      Lima      2700
17     Manuel    31  Trujillo      2700
18   Fernanda    28     Cusco      2100
19    Ricardo    35      Lima      4400
20      Lucía    23  Trujillo      1500
21       José    34  Arequipa      4200
22      Willy    55      Puno      1300