<a href="https://colab.research.google.com/github/aquisxd/Application/blob/main/Ejercicio01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Ejercicio 1  carga de un archivo csb desde drive

In [ ]:
datos = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTn5Uk0QcLsioM-vISYa9K8ya9QkUjYfB5MB1pBo-kJ33Jvgway6YP6Z2OnznWTfJT_wXRX_72i2QsH/pub?gid=327364427&single=true&output=csv")
print(datos)

       nombre  edad    ciudad  ingresos
0        Juan    30      Lima      2500
1       María    28  Arequipa      3800
2        Luis    35     Cusco      4800
3         Ana    22  Trujillo      2000
4       Pedro    28  Arequipa      3200
5      Leonel    64   Juliaca      4980
6       Laura    31      Lima      4200
7      Carlos    25     Cusco      1800
8       Sofía    29  Trujillo      2900
9      Andrés    27      Lima      2600
10   Gabriela    33  Arequipa      4000
11    Micaela    21   Juliaca      5000
12      Diego    24     Cusco      3200
13  Valentina    26  Trujillo      3500
14     Lorena    30      Lima      3800
15     Javier    32  Arequipa      5000
16    Daniela    29      Lima      2700
17     Manuel    31  Trujillo      2700
18   Fernanda    28     Cusco      2100
19    Ricardo    35      Lima      4400
20      Lucía    23  Trujillo      1500
21       José    34  Arequipa      4200
22      Willy    55      Puno      1300

In [27]:
suma_ingresos = datos['ingresos'].sum()
print("La suma de los ingresos es:", suma_ingresos)

La suma de los ingresos es: 76180

In [29]:
promedio_edad = datos['edad'].mean()

# Imprimir el promedio de la edad
print("El promedio de edad es:",int (promedio_edad))

El promedio de edad es: 31

In [33]:
ciudad_deseada = 'Arequipa'  # Filtrar por la ciudad de Arequipa
trabajadores_arequipa = datos[datos['ciudad'] == ciudad_deseada]

# Imprimir los primeros registros del DataFrame filtrado
print(trabajadores_arequipa.head())

      nombre  edad    ciudad  ingresos
1      María    28  Arequipa      3800
4      Pedro    28  Arequipa      3200
10  Gabriela    33  Arequipa      4000
15    Javier    32  Arequipa      5000
21      José    34  Arequipa      4200

In [34]:
trabajodores_arequipa = datos[datos['ciudad'] == "Arequipa"]
print(trabajadores_arequipa.head())

      nombre  edad    ciudad  ingresos
1      María    28  Arequipa      3800
4      Pedro    28  Arequipa      3200
10  Gabriela    33  Arequipa      4000
15    Javier    32  Arequipa      5000
21      José    34  Arequipa      4200

In [39]:
ciudades_unicas = datos['ciudad'].unique()

# Calcular el promedio de ingresos por ciudad
promedio_ingresos_por_ciudad = {}
for ciudad in ciudades_unicas:
    promedio_ingresos_por_ciudad[ciudad] = datos[datos['ciudad'] == ciudad]['ingresos'].mean()

# Imprimir el promedio de ingresos por ciudad
for ciudad, promedio in promedio_ingresos_por_ciudad.items():
    print(f"El promedio de ingresos en {ciudad} es: {promedio}")

El promedio de ingresos en Lima es: int 3366.6666666666665
El promedio de ingresos en Arequipa es: int 4040.0
El promedio de ingresos en Cusco es: int 2975.0
El promedio de ingresos en Trujillo es: int 2520.0
El promedio de ingresos en Juliaca es: int 4990.0
El promedio de ingresos en Puno es: int 1300.0

In [40]:
promedio_ciudad = datos[datos['ciudad'] == "ingresos"].mean()
print(f"El promedio de ingresos en {ciudad} es: {promedio}")

El promedio de ingresos en Puno es: 1300.0

In [56]:
mayor = datos.loc[datos['edad']==datos['edad'].max(), "nombre"].values[0]
print(mayor);

Leonel

In [58]:
menor = datos.loc[datos['edad']==datos['edad'].min(), "nombre"].values[0]
print(menor);

Micaela

In [47]:
menor = datos.loc[datos['edad'] == datos['edad'].min()]
ciudad_menor = menor['ciudad'].values[0]
ingresos_menor = menor['ingresos'].values[0]

# Imprimir el nombre, ciudad y salario de la persona más joven
print(f"La persona más joven es {menor['nombre'].values[0]}, trabaja en {ciudad_menor} y su salario es {ingresos_menor}")

La persona más joven es Micaela, trabaja en Juliaca y su salario es 5000

In [54]:
reporte_trabajadores_por_ciudad = datos.groupby('ciudad').size()
# Ordenar el reporte de menor a mayor
reporte_trabajadores_por_ciudad = reporte_trabajadores_por_ciudad.sort_values()

# Imprimir el reporte
print("Reporte de Trabajadores por Ciudad (de menor a mayor):")
print(reporte_trabajadores_por_ciudad)

Reporte de Trabajadores por Ciudad (de menor a mayor):
ciudad
Puno        1
Juliaca     2
Cusco       4
Arequipa    5
Trujillo    5
Lima        6
dtype: int64

In [59]:
listado_ordenado_por_edad = datos.sort_values(by='edad', ascending=False)

# Imprimir el listado
print("Listado de Trabajadores Ordenado por Edad (de forma descendente):")
print(listado_ordenado_por_edad)

Listado de Trabajadores Ordenado por Edad (de forma descendente):
       nombre  edad    ciudad  ingresos
5      Leonel    64   Juliaca      4980
22      Willy    55      Puno      1300
2        Luis    35     Cusco      4800
19    Ricardo    35      Lima      4400
21       José    34  Arequipa      4200
10   Gabriela    33  Arequipa      4000
15     Javier    32  Arequipa      5000
6       Laura    31      Lima      4200
17     Manuel    31  Trujillo      2700
14     Lorena    30      Lima      3800
0        Juan    30      Lima      2500
8       Sofía    29  Trujillo      2900
16    Daniela    29      Lima      2700
1       María    28  Arequipa      3800
18   Fernanda    28     Cusco      2100
4       Pedro    28  Arequipa      3200
9      Andrés    27      Lima      2600
13  Valentina    26  Trujillo      3500
7      Carlos    25     Cusco      1800
12      Diego    24     Cusco      3200
20      Lucía    23  Trujillo      1500
3         Ana    22  Trujillo      2000
11    Micaela    21   Juliaca      5000